<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h1>This is About Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio
  incidunt itaque est neque. Sequi vero repellendus atque, quos a tenetur
  nesciunt dolor fugiat, perferendis ullam nisi non saepe labore. Iusto ullam
  eveniet ipsum dolorem impedit totam repudiandae excepturi ratione tenetur
  voluptas vero omnis, dolorum perferendis facere fugit hic cumque libero
  adipisci exercitationem provident, explicabo beatae! Vero, nemo. Voluptatem,
  nihil.
</p>

<%- include("partials/footer") %>
